:root {
  /* colors */
  --clr-primary100: hsl(225, 100%, 94%);
  --clr-primary400: hsl(245, 75%, 52%);
  --clr-neutral100: hsl(225, 100%, 98%);
  --clr-neutral300: hsl(224, 23%, 55%);
  --clr-neutral800: hsl(223, 47%, 23%);

  /* fonts */
  --ff-primary: "Red Hat Display", sans-serif;
  --fweight-regular: 500;
  --fweight-bold: 700;
  --fweight-black: 900;
}
/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  display: grid;
  place-content: center;

  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: var(--clr-primary100);
  background-size: contain;
  color: var(--clr-neutral300);
}
@media screen and (max-width: 48em) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
  }
}
img {
  max-width: 100%;
  display: block;
  border-radius: 1em 1em 0 0;
}

.card {
  max-width: min(80vh, 30rem);
  background-color: white;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  border-radius: 1em;
  border: 0;
}
.card > *:not(img) {
  margin: 0 2.75rem;
  text-align: center;
}

h1,
.plan-duration,
.card__submit,
.card__cancel {
  font-weight: var(--fweight-black);
}
h1,
.plan-duration {
  color: var(--clr-neutral800);
}
p {
  max-width: 34ch;
}

.card__plan {
  background-color: var(--clr-neutral100);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__plan::before {
  content: url(images/icon-music.svg);
  display: block;
  line-height: 0;
}

.plan-infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 2;
  text-align: left;
}
.plan-change {
  color: var(--clr-primary400);
  font-weight: var(--fweight-bold);
}
.plan-change:hover {
  text-decoration: none;
  opacity: 0.7;
}

.card__submit,
.card__cancel {
  text-decoration: none;
}
.card__submit {
  background-color: var(--clr-primary400);
  color: var(--clr-neutral100);
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 7px 20px var(--clr-neutral300);
  transition: box-shadow 150ms ease;
}
.card__submit:hover {
  opacity: 0.7;
  box-shadow: 0 2px 5px var(--clr-neutral300);
}
.card__cancel {
  color: var(--clr-neutral300);
  padding-block-end: 2rem;
}
.card__cancel:hover {
  color: var(--clr-neutral800);
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
